<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tech.thrithvam.spaccounts">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".AppFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".AppFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Login"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeScreen"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InvoiceSummary"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_invoice_summary"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ExpenseSummary"
            android:configChanges="orientation|screenSize"
            android:label="Expense Summary" />
        <activity
            android:name=".Customers"
            android:configChanges="orientation|screenSize"
            android:label="Customers" />
        <activity
            android:name=".CustomerDetails"
            android:configChanges="orientation|screenSize"
            android:label="Customers" />
        <activity
            android:name=".Suppliers"
            android:configChanges="orientation|screenSize"
            android:label="Suppliers" />
        <activity
            android:name=".SupplierDetails"
            android:configChanges="orientation|screenSize"
            android:label="Suppliers" />
        <activity
            android:name=".Invoices"
            android:configChanges="orientation|screenSize"
            android:label="Invoices" />
        <activity
            android:name=".Approvals"
            android:configChanges="orientation|screenSize"
            android:label="Pending for Approval" />
        <activity
            android:name=".ApprovalDetails"
            android:configChanges="orientation|screenSize"
            android:label="@string/approvals" />
        <activity android:name=".Settings"></activity>
    </application>

</manifest>